<!-- Full Page Header -->
<div id="top" class="full-height header text-center">
  <div class="bg row">
    <div class="small-8 small-offset-2 shadow">
      <h1>Sally Chu</h1>
      <a href="#about" class="button">Learn More</a>
    </div>
  </div>
</div>
<!-- /Full Page Header -->

<!-- Intro -->
<div id="about" class="intro text-center row">
  <h5>"The world is moving so fast that the man who says it can't be done is generally interrupted by someone doing it." </br> - Elbert Hubbard</h5>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lectus nibh. Praesent finibus libero vitae tincidunt laoreet. Quisque id tortor fringilla, cursus sem at, ultrices diam. Phasellus suscipit, nibh aliquet imperdiet ultricies, diam odio fermentum massa, a tempor arcu nulla et enim. Aenean volutpat ligula nunc, et mattis neque viverra et. Maecenas luctus augue in mi lobortis placerat. Nunc consequat bibendum ligula id molestie. Ut feugiat eget justo vitae laoreet. </br> </br>

    Nulla sollicitudin suscipit nunc eleifend consequat. Suspendisse pretium ultricies risus id euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam iaculis a.</p>
    <form method="get" action="https://dl.dropboxusercontent.com/u/87789399/Resume.pdf" target="_blank"><button type="submit" class=" button">Resume</button></form>
  </div>
  <!-- /Intro -->

  <!-- Portfolio -->
  <div id="portfolio" class="portfolio text-center row">
    <h2>Projects</h2>
    <hr>
    <div id="portfoli-body">
      <div class="portfolio-item callout secondary small-12 medium-6 large-3 columns">
        <img class="img-portfolio" src="img/portfolio-2.gif">
        <h4>Heat Shock Proteins</h4>
        <p>Constructed expression vectors in E.coli to produce substrates of small heat shock proteins for researching on the interactions between protein and substrate.</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 large-3 columns">
        <img class="img-portfolio" src="img/portfolio-1.jpg">
        <h4>Tracheary Element Differentiation</h4>
        <p>Researched the effect of epibrassinolide and overexpression of transcription factors on tracheary element differention where the evidence points that there were marginal increases of differention up to 6%.</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 large-3 columns">
        <img class="img-portfolio" src="img/portfolio-3.jpg">
        <h4>Pollen Tube Growth</h4>
        <p>Created several double mutants from Rab8, Feronia receptor kinase, and Formin single mutants to assess the influence of the double mutants on vesicle trafficking and pollen tube growth</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 large-3 columns end">
        <img class="img-portfolio" src="img/portfolio-4.jpg">
        <h4>Water Sustainability</h4>
        <p>Advocate and influence others to be more water sustainable through community engaged activities.Compiled, organized and contacted a list of event sponsors and event partners. </p>
      </div>
    </div>
  </div>
</div>
<!-- /Portfolio -->

<!-- Contact-->
<div id="contact" class="contact">
  <div class="row large_shadow">
    <div class="small-12 columns">
      <div class="text-center">
        <h1>Let's grab some tea!</h1>
        <hr>
        <p>If you have questions or just want to say "Hi", drop me a message!<br>I'd love to hear from you.</p>
      </div>
    </div>
    <form class="simple_form fancy-form">
      <div class="small-6 columns">
        <input class="input string required" placeholder="First Name" type="text">
      </div>
      <div class="small-6 columns">
        <input class="input string required" placeholder="Last Name" type="text">
      </div>
      <div class="small-12 columns">
        <input class="input string required" placeholder="Email" type="text">
      </div>
      <div class="small-12 columns">
        <input class="input string required" placeholder="What's on your mind?" type="text">
        <button type="button" class="button">Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- /Contact -->

<!-- Footer -->
<footer>
  <div class="row">
    <div class="text-center small-12 columns">
      <div class="top-scroll">
        <a href="#top"><img src="img/arrow-up.png" width="80" height="80" alt="Scroll Up"></i></a>
      </div>
      <hr>
      <p>Copyright &copy; I Chus You 2015</p>
    </div>
  </div>
</footer>
