<!-- Full Page Header -->
<div id="top" class="full-height header text-center">
  <div class="bg row">
    <div class="small-8 small-offset-2 shadow">
      <h1>Sally Chu</h1>
      <a href="#about" class="button">Learn More</a>
    </div>
  </div>
</div>
<!-- /Full Page Header -->

<!-- Intro -->
<div id="about" class="intro text-center row">
  <h5>"The world is moving so fast that the man who says it can't be done is generally interrupted by someone doing it." </br> - Elbert Hubbard</h5>
  <hr>
  <img class="me" src="img/sally1.jpg">
  <img class="me" src="img/sally2.jpg">
  <img class="me" src="img/sally3.jpg">
  <img class="me" src="img/sally4.jpg">
  <h5>Hi I'm Sally!</h5>
  <p>Just an average girl who wants to experience life to the fullest and live through every experience no matter if it is mundane or extraordinary.</br></br>Currently I am on a new unexplored path before me, working towards gearing my interests from science and translating it to the tech field. Previously I worked at great companies doing great things, like developing ways to increase animal nutrition in animal feed and generating biofuels through photosynthetic cyanobacteria. All of my past experiences aligned with my main passion to contribute to the greater good of the world.
  </p>
  <form method="get" action="https://dl.dropboxusercontent.com/u/87789399/Resume.pdf" target="_blank"><button type="submit" class=" button">Resume</button></form>
</div>
<!-- /Intro -->

<!-- Portfolio -->
<div id="projects" class="projects text-center">
  <div class="row">
    <h2>Programming Experience</h2>
    <hr>
    <div id="portfoli-body">
      <div class="portfolio-item callout secondary small-12 medium-6 columns">
        <img class="img-portfolio" src="img/impact.png">
        <h4>Impact</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lectus nibh. Praesent finibus libero vitae tincidunt laoreet. Quisque id tortor fringilla, cursus sem at, ultrices diam. Phasellus suscipit, nibh aliquet imperdiet ultricies, diam odio fermentum massa, a tempor arcu nulla et enim. Aenean volutpat ligula nunc, et mattis neque viverra et. Maecenas luctus augue in mi lobortis placerat. Nunc consequat bibendum ligula id molestie. Ut feugiat eget justo vitae laoreet.</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 columns">
        <img class="img-portfolio" src="img/jumper.png">
        <h4>Jumper</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lectus nibh. Praesent finibus libero vitae tincidunt laoreet. Quisque id tortor fringilla, cursus sem at, ultrices diam. Phasellus suscipit, nibh aliquet imperdiet ultricies, diam odio fermentum massa, a tempor arcu nulla et enim. Aenean volutpat ligula nunc, et mattis neque viverra et. Maecenas luctus augue in mi lobortis placerat. Nunc consequat bibendum ligula id molestie. Ut feugiat eget justo vitae laoreet.</p>
      </div>
    </div>
  </div>
</div>
<!-- /Portfolio -->

<!-- Portfolio -->
<div id="portfolio" class="portfolio text-center">
  <div class="row">
    <h2>Science Experience</h2>
    <hr>
    <div id="portfoli-body">
      <div class="portfolio-item callout secondary small-12 medium-6 columns">
        <img class="img-portfolio" src="img/joule.jpg">
        <h4>Biofuels from Cyanobacteria</h4>
        <h5>Research Associate</h5>
        <p>Developed new strains of cyanobacteria with increased ethanol production through genetic modification and tools to accelerate SNP integration and segregation.</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 columns">
        <img class="img-portfolio" src="img/agrivida.jpg">
        <h4>Animal Nutrition</h4>
        <h5>Research Intern</h5>
        <p>Conduct biochemical analysis of transgenic grains for animal nutrition applications. Standardize novel enzyme extraction buffer and developed enzyme assay for patented INzyme technology.</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 columns">
        <img class="img-portfolio" src="img/portfolio-2.gif">
        <h4>Heat Shock Proteins</h4>
        <h5>Graduate Researcher</h5>
        <p>Investigated the mechanism of small heat shock protein’s role in guarding proteins from aggregation/misassembly through analyzing substrate composition.</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 columns">
        <img class="img-portfolio" src="img/portfolio-1.jpg">
        <h4>Tracheary Element Differentiation</h4>
        <h5>Summer Intern</h5>
        <p>Analyzed the hormonal growth pathway affecting tracheary element differentiation and overexpressed individual transcription factors to increase cellulose yield</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 columns">
        <img class="img-portfolio" src="img/portfolio-3.jpg">
        <h4>Pollen Tube Growth</h4>
        <h5>Undergraduate Researcher</h5>
        <p>Created several double mutants from Rab8, Feronia receptor kinase, and Formin single mutants to assess the influence of the double mutants on vesicle trafficking and pollen tube growth.</p>
      </div>
      <div class="portfolio-item callout secondary small-12 medium-6 columns end">
        <img class="img-portfolio" src="img/portfolio-4.jpg">
        <h4>Water Sustainability</h4>
        <h5>Events and Public Relations Intern</h5>
        <p>Advocate and influence others to be more water sustainable through community engaged activities. Compiled, organized and contacted a list of event sponsors and event partners. Planned and marketed the 2nd Charles River Rummage (a kayak river cleanup competition)</p>
      </div>
    </div>
  </div>
</div>
<!-- /Portfolio -->

<!-- Contact-->
<div id="contact" class="contact">
  <div class="row large_shadow text-center">
    <div class="small-12 medium-10 medium-centered columns"
    <div class="small-8 small-centered columns">
      <div>
        <% unless @notification.nil? %>
        <%= @notification %>
        <% end %>
        <h1>Let's grab some tea!</h1>
        <hr>
        <p>If you have questions or just want to say "Hi", drop me a message!<br>I'd love to hear from you.</p>
      </div>
    </div>
    <div class="small-12 medium-10 medium-centered columns">
      <form action="/contact" method="POST" class="simple_form fancy-form">
        <div class="small-12 medium-6 columns">
          <input class="input string required" placeholder="First Name" type="text">
        </div>
        <div class="small-12 medium-6 columns">
          <input class="input string required" placeholder="Last Name" type="text">
        </div>
        <div class="small-12 columns">
          <input class="input string required" placeholder="Email" type="text">
        </div>
        <div class="small-12 columns">
          <input class="input string required" placeholder="What's on your mind?" type="text">
          <input type="submit" class="button" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Contact -->

<!-- Footer -->
<footer>
  <div class="row">
    <div class="text-center small-12 columns">
      <div class="top-scroll">
        <a href="#top"><img src="img/arrow.png" width="80" height="80" alt="Scroll Up"></i></a>
      </div>
      <hr>
      <p>Copyright &copy; I Chus You 2016</p>
    </div>
  </div>
</footer>
