.header {
  background: url('../img/bg.jpg') no-repeat center center scroll;
  background-size: cover;
}

.shadow {
  background: rgba(0,0,0,.7);
  margin-top: 25%;
}

.shadow h1 {
  margin-top: 0px;
  color: white;
  font-size: 8em;
  font-weight: bolder;
}

.full-height {
  height: 100%;
}

ul {
  list-style: none;
  list-style-type: none;
}

.contact {
  background: url('../img/callout.jpg') no-repeat center center scroll;
  background-size: cover;
  padding: 5rem;
}

.large_shadow {
  background: rgba(0,0,0,.7);
  color: white;
}

.large_shadow h1 {
  color: white;
}

footer {
  padding-top: 1rem;
  background-color: #006C21;
}

.button {
  background-color: #006C21;
}
