.header {
  background: url('../img/bg.jpg') no-repeat center center scroll;
  background-size: cover;
}

.shadow {
  background: rgba(0,0,0,.5);
  margin-top: 25%;
}

.shadow h1 {
  margin-top: 0px;
  color: white;
  font-size: 8em;
}

.full-height {
  height: 100%;
}

ul {
  list-style: none;
  list-style-type: none;
}
